body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: black;
}

#frame{
    position: relative;
    border: 3px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 6px rgba(211, 211, 211, 0.6);
}

canvas{
    background-color: black;
    display: block;
    border-radius: 17px;

    
}

#overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    
}

.coverImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.start-button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.gameButtons{
    display: none;
}

.gameButtons img{
    margin: 0 20px;
}

.destopButtonsDescription{
    display: flex;
    align-items: center;
}

.d-none{
    display: none !important;
}

.color-transparent{
    background-color: transparent;
}

.p-left{
    padding-left: 10px;
}

@media(orientation: portrait) and (max-width: 720px){
    canvas {
        width: 94vw;
    }

    /* .gameButtons {
        display: block;
    } */
}




@media(orientation: landscape) and (max-height: 480px){
    canvas {
        height: 94vh;
    }
}

@media (hover: none){
    .gameButtons {
        display: block;
    }

    .destopButtonsDescription{
        display: none;
    }
}